/database-gui/build/
/database-gui/.settings/
/database-gui/nbproject/
/database-gui/target/
/database-gui/.classpath
/database-gui/.project
/database-gui/build.xml
/database-gui/manifest.mf
/database-gui/dist/